

<ion-content>
  <!-- Encabezado de la tabla -->
  <ion-grid>
    <ion-row>
      <ion-col>Lu</ion-col>
      <ion-col>Ma</ion-col>
      <ion-col>Mi</ion-col>
      <ion-col>Ju</ion-col>
      <ion-col>Vi</ion-col>
      <ion-col>Sa</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Datos de la tabla -->
  <ion-grid>
    <ion-row *ngFor="let item of item">
      <ion-col>{{ item.nombre }}</ion-col>
      <ion-col>{{ item.apellido }}</ion-col>
      <ion-col>{{ item.apellido }}</ion-col>
      <ion-col>{{ item.nombre }}</ion-col>
      <ion-col>{{ item.apellido }}</ion-col>
      <ion-col>{{ item.apellido }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
