
<ion-button color="secondary"  id="open-modal">AGREGAR</ion-button>

<ion-content>
  <!-- Encabezado de la tabla -->
  <ion-grid>
    <ion-row>
      <ion-col style=background:#078030>Materia</ion-col>
      <ion-col >Lu</ion-col>
      <ion-col >Ma</ion-col>
      <ion-col >Mi</ion-col>
      <ion-col>Ju</ion-col>
      <ion-col>Vi</ion-col>
      <ion-col>Sa</ion-col>
      <ion-col>Do</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Datos de la tabla -->
  <ion-grid>
    <ion-row *ngFor="let item of items; let i= index">
      <ion-col >{{ item.nombre }}</ion-col>
      <ion-col>{{ item.lunes }}</ion-col>
      <ion-col>{{ item.martes }}</ion-col>
      <ion-col>{{ item.miercoles }}</ion-col>
      <ion-col>{{ item.horaInicio }}</ion-col>
      <ion-col>{{ item.horaTermino }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button  (click)="agregarMateria()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label=" Nombre de la materia"
            labelPlacement="stacked"
            type="text"
            placeholder="nombre de la materia"
            [(ngModel)]="nuevoDato.nombre"
          ></ion-input>
        </ion-item>

        <ion-item button="true" detail="false">
          selecionar hora
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-select
              aria-label="Fruit"
              placeholder="Select fruit"
              (ionChange)="handleChange($event)"
              (ionCancel)="handleCancel()"
              (ionDismiss)="handleDismiss()"
              [multiple]="true"
            >
              <ion-select-option value="apples">Lunes</ion-select-option>
              <ion-select-option value="oranges">Martes</ion-select-option>
              <ion-select-option value="bananas">Miercoles</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item button="true" detail="false">
          <ion-label >LUNES</ion-label>
          <ion-icon slot="start" name="home-outline"></ion-icon>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
