
<ion-content [fullscreen]="true"  >

  <ion-button (click)="setOpen(true)">AGREGAR</ion-button>
  <ion-button >SALDO</ion-button>

    <ion-item *ngFor="let deuda of deudas; let i = index "  >
      <ion-label (click)="setOpenItem(true); editar(i)">
        <h2>{{deuda.alias}}</h2>
        <h2>{{deuda.fechaMensual}}</h2>
      </ion-label>

      <ion-buttons slot="end" id="present-alert">
        <ion-icon name="trash-outline" (click)="presentActionSheet(i)" style="height: 20px; width: 20px" ></ion-icon>
        <ion-badge color="miColor" class="numero-carrito"></ion-badge>
        <ion-icon name="search-outline" slot="end" id="buscador" routerLink="/buscar" ></ion-icon>
      </ion-buttons>
    </ion-item>

  <!-- modal de AGREGAR UN NUEVO PAGO -->
  <ion-content class="ion-padding">
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false)">Cancel</ion-button>
            </ion-buttons>
            <ion-title>AGREGAR NUEVO PAGO</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-list>
              <ion-item>
                <ion-input label="Nuevo alias" placeholder="Escribe un alias" [(ngModel)]="this.nuevoDato.alias"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Nombre de la empresa" placeholder="Ingrese el nombre" [(ngModel)]="this.nuevoDato.nombre"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Cantidad" type="number" placeholder="0.0" [(ngModel)]="this.nuevoDato.cantidad"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Fecha de pago mensual" type="number" [(ngModel)]="this.nuevoDato.fechaMensual"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Fecha de inicio" type="Date" [(ngModel)] = "nuevoDato.fechaInicio"></ion-input>
              </ion-item>

            </ion-list>
          </ion-list>

          <ion-button (click)="agregarPago()">AGREGAR</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

  <!-- MODAL DONDE SE VE QUE TIENEN LOS ITEMS  -->
  <ion-content class="ion-padding">
    <ion-modal [isOpen]="isModalItem">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpenItem(false)">Cancel</ion-button>
            </ion-buttons>
            <ion-title>INFORMCION DE </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-list>
              <ion-item>
                <ion-input label="Nuevo alias" [(ngModel)]="nuevoAlias" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Nombre de la empresa" [(ngModel)]="nuevoNombre" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Cantidad" type="number" [(ngModel)]="nuevaCantidad" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Fecha de pago mensual" [(ngModel)]="nuevaFechaMensual" ></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Fecha de inicio" type="date"  ></ion-input>
              </ion-item>

            </ion-list>
          </ion-list>

          <ion-button (click)="actualizarDatos(nuevoAlias); setOpenItem(false)">GUARDAR CAMBIOS</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</ion-content>




